.product-card {
  font-family: 'Saira', sans-serif;
  background: $white;
  padding: 10px;
  min-width: 250px;
  max-width: 500px;
  width: 100%;
  min-height: 479px;

  @media (prefers-color-scheme: dark) {
    background: #2c2c2c;
  }

  &__wrapper {
    border: 1px solid $whitish;
    border-radius: 5px;
    min-height: 460px;
    padding: 13px 15px;

    @media (prefers-color-scheme: dark) {
      border: 1px solid $dark-gray;
    }
  }

  &__header {
    font-family: SairaSemiBold, sans-serif;
    font-size: 18px;
    margin-bottom: 22px;
    letter-spacing: 0.1px;
    color: $almost-black;

    @media (prefers-color-scheme: dark) {
      color: $light-gray;
    }
  }

  &__content {
    @media screen and (min-width: $mobile-lg) {
      margin-bottom: 40px;
    }

    &::after, &::before {
      content: "";
      display: table;
      clear: both;
    }
  }

  &__info {
    @media screen and (min-width: $mobile-lg) {
      padding-top: 50px;
      float: right;
      width: 35%;
    }
  }

  &__price {
    letter-spacing: 0.7px;
    font-size: 25px;
    color: $teal;
    font-family: SairaSemiBold, sans-serif;
    margin: 0;

    @media screen and (min-width: $mobile-lg) {
      font-size: 32px;
    }
  }

  &__old-price {
    font-size: 20px;
    letter-spacing: 0.6px;
    color: $medium-gray;
    text-decoration: line-through;

    @media screen and (min-width: $mobile-lg) {
      font-size: 23px;
    }

    @media (prefers-color-scheme: dark) {
      color: $grayish;
    }
  }

  &__additional-info {
    font-size: 12px;
    color: $gray;
    margin-top: 3px;
    margin-bottom: 32px;

    @media screen and (min-width: $mobile-lg) {
      font-size: 16px;
      margin-top: 10px;
    }

    @media (prefers-color-scheme: dark) {
      color: $dirty-gray;
    }
  }

  &__badge {
    position: absolute;
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: $teal;
    bottom: -21px;
    right: -1%;
    transform: rotate(15deg);
    font-size: 18px;
    text-align: center;
    padding-top: 30px;
    margin: 0;
    color: $tealish;
    line-height: 17px;

    .product-card:hover & {
      animation: pulse 1s ease-in-out;
    }

    @media screen and (min-width: $mobile-lg) {
      bottom: -10px;
      right: -35px;
    }
  }

  &__saving {
    font-size: 23px;
  }

  &__footer {
    text-align: center;
  }

  &__more {
    color: $electric-blue;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: color .2s ease-in-out;
    padding: 0 10px;

    @media (prefers-color-scheme: dark) {
      color: $blue;
    }

    &--flash {
      @media screen and (min-width: $mobile-lg) {
        position: relative;

        &::before,
        &::after {
          position: absolute;
          content: "";
          left: 0;
          bottom: -0.1rem;
          display: block;
          width: 100%;
          height: 1px;
          background: $electric-blue;
          transition: 1.1s cubic-bezier(0.19, 1, 0.22, 1);
          opacity: 0;
        }

        &::before {
          transform: scaleX(0);
          transform-origin: left;
        }

        &::after {
          transform-origin: right;
          transition-delay: 0.25s;
        }

        &:hover {
          &::before {
            transform: scaleX(1);
            transition-delay: 0.25s;
            opacity: 1;
          }

          &::after {
            transform: scaleX(0);
            transition-delay: 0s;
            opacity: 1;
          }
        }
      }
    }
  }

  &__image {
    min-height: 230px;
    position: relative;
    margin-bottom: 11px;
    background-color: $white;

    @media screen and (min-width: $mobile-lg) {
      float: left;
      min-height: 300px;
      width: 65%;
      box-shadow: rgb(0 0 0 / 10%) 4px 5px 20px -4px;
      border-radius: 15px;
      transform: translate(-9%, 0);
    }

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      max-width: 188px;
      height: auto;
      max-height: 100%;

      @media screen and (min-width: $mobile-lg) {
        width: auto;
        height: auto;
        max-width: 85%;
      }
    }
  }

  &__icon {
    max-width: 8px;
    margin-top: -2.5px;
    margin-left: 4px;
    vertical-align: middle;
  }

  &__logo {
    float: left;
    max-width: 20px;
    margin-left: -4px;
    margin-right: 5px;
  }

}
