body {
  background: $almost-white;
  padding: 50px;

  @media (prefers-color-scheme: dark) {
    background: $sand-gray;
  }
}


a {
  text-decoration: none;

  &:focus {
    outline: 3px dashed $teal;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
