html {
  font-size: 62.5%;
}

body {
  padding: 0;
  background: $almost-white;

  @media (prefers-color-scheme: dark) {
    background: $sand-gray;
  }
}

a {
  text-decoration: none;

  &:focus {
    outline: 3px dashed $teal;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
