body {
  background: #f5f5f5;
  padding: 50px;

  @media (prefers-color-scheme: dark) {
    background: #606060;
  }
}


a {
  text-decoration: none;

  &:focus {
    outline: 3px dashed #3B938A;
  }

  &:focus:not(:focus-visible) {
    outline: none;
  }
}
