@font-face {
  font-weight: normal;
  font-family: 'Saira';
  font-style: normal;
  src: url('../assets/fonts/SairaSemiCondensed-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-weight: 600;
  font-family: 'SairaSemiBold';
  font-style: normal;
  src: url('../assets/fonts/SairaSemiCondensed-SemiBold.ttf') format('truetype');
  font-display: swap;
}
