@font-face {
  font-family: 'Saira Semi Condensed', sans-serif;
  src: url('../../assets/fonts/SairaSemiCondensed-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SairaSemiBold';
  src: url('../../assets/fonts/SairaSemiCondensed-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
