//Colors

$white: #fff;
$almost-white: #f5f5f5;
$whitish: #e7e7ec;
$light-gray: #d2d2d2;
$grayish: #b4b3b3;
$gray: #989898;
$dirty-gray: #a1a1a1;
$medium-gray: #6f6f6f;
$sand-gray: #606060;
$dark-gray: #494949;
$almost-black: #212121;
$tealish: #f9fdfd;
$teal: #3b938a;
$blue: #535fcc;
$electric-blue: #4e5ac0;

// Breakpoints

$mobile-lg: 480px;
$tablet: 768px;
$tablet-lg: 1024px;
