//Colors

$white: #fff;
$almost-white: #f5f5f5;
$whitish: #E7E7EC;
$light-gray: #d2d2d2;
$grayish: #b4b3b3;
$gray: #989898;
$dirty-gray: #a1a1a1;
$medium-gray: #6F6F6F;
$sand-gray: #606060;
$dark-gray: #494949;
$tealish: #F9FDFD;
$teal: #3B938A;
$blue: #535fcc;
$electric-blue: #4E5AC0;
